body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #ccc;
}

/* Styling the Scroll bar:                          
---------------------------------------------------- */

::-webkit-scrollbar {
    max-width: 3px;
    max-height: 3px;
    background-color: #010144;

}
::-webkit-scrollbar-thumb {
    background-color:#65c1fa;
}

/* ------------------------------------------------ */

/* Styling the main container:                          
---------------------------------------------------- */
#container {
    border: 2px solid rgb(74, 211, 0);
    background-color: #ccc;

    height: calc(100vh - 4px);
    max-width: calc(100vw - 4px);
    max-height: 100%;
    width: 100%;
    
    display: flex;
    flex-flow: column nowrap;

    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 0;

    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 0;
}

#container > li {
    border: 2px solid rgb(89, 145, 148);
    list-style: none;
    min-width: 100%;
    min-height: 175vh;
}
#container > li:nth-child(1) {
    min-height: 95vh;
    background-color: #33333330;
}
#container > li:nth-child(2) {
    background-color: #33333360;
}
#container > li:nth-child(3) {
    background-color: #33333390;
}

/*product deatils page*/
#backgroundContainer {
    background-color: bisque;
    width: 80%;
    margin: 2%;
    padding: 2%;
}

#productImage {
    background-color: #010144;
    width: 33%;
    margin: -3% 2%; /*brings the container to almost the full height of the big container*/
}

#imageSize {
    background-color: aquamarine;
    height: 100%;
    width: 70%;
}

#productRating {
    background-color: #010144;
    width: 9rem;
    border-radius: 1rem;
    margin-left: 3rem;
    padding: 1rem;
    margin-top: 0.7rem;
}

.circle {
    background-color: red;
    float: left;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
    margin-top: -0.35rem;
}

#productDescription {
    float: left;
    width: 30rem;
    height: 13rem;
    background-color: rebeccapurple;
    margin-left: 17rem;
    margin-top: -15rem;
    padding: 1rem;
}

/* ------------------------------------- */
/* form styling */
input {
    margin: 1em;
    padding: 0.4rem;
}
#forgot-password {
    margin-left: 4rem;
}

#forgot-password > a {
    color: #010144;
    text-decoration: none;
}

#forgot-password > a:hover {
    text-decoration: underline;
    color: rgb(77, 77, 88);
}

#login-container {
    display: flex;
    background-color: #ccc;
}

#form-container {
    margin-top: 9rem;
    position: absolute;
    right: 15%;
}

#form-circle {
    height: 60rem;
    width: 60rem;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-75%, -75%);
}

#login-button {
    margin-left: 40px;
    padding: 4px;
    padding-left: 50px;
    padding-right: 50px;
}