/* We should probably start noting down some design rules 
   for everyone to follow so we dont have drastically different styles...
   i.e. how much do i round the border? what is the maximum padding/margin, font sizes? */

   body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the Scroll bar:                          
---------------------------------------------------- */

::-webkit-scrollbar {
    max-width: 3px;
    max-height: 3px;
    background-color: #010144;

}
::-webkit-scrollbar-thumb {
    background-color:#65c1fa;
}

/* Styling wrapper */
#wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    max-height: calc(100vh - 5px);
    /* max-height: 100%; */
    max-width: 100%;
    min-width: calc(100vw - 4px);
    border: 2px solid hotpink;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* ------------------------------------------------ */

/* Styling the main container:                          
---------------------------------------------------- */
#containers {
    border: 2px solid rgb(74, 211, 0);

    min-height: calc(100vh * 3);
    width: calc(100vw - 6rem);
    
    display: flex;
    flex-flow: column nowrap;

    margin: 3rem 0;
    padding: 0;

    position: relative;
    left:50%;
    transform: translate(-50%,0);
}

/* Styling the main container's children:                          
---------------------------------------------------- */
#containers > li {
    border: 2px solid rgb(89, 145, 148);
    list-style: none;
    min-width: 100%;
    height: 150vh;
}
#containers > li:nth-child(1) {
    max-height: 95vh !important;
    background-color: #33333330;
}
#containers > li:nth-child(2) {
    background-color: #33333360;
}
#containers > li:nth-child(3) {
    background-color: #33333390;
    border-bottom: 4px solid hotpink;
}



/* Styling the main container's subsections:                          
---------------------------------------------------- */
/* ->> Hero Section */
#hero-container {
    border: 2px solid yellowgreen;
    height: calc(3.25rem * 16);
    width: calc(6.925rem * 16);
    border-radius: 1.25rem;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#hero-container > #hero-title {
    border: 2px solid hotpink;
    width: 40rem;
    position: absolute;
    font-size: 5rem;
    left: 70%;
    transform: translate(-70%,0);
}
#carousel-controls {
    border: 2px solid hotpink;
    width: 3rem;
    min-height: 12rem;
    list-style: none;
    padding-left: 0;
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#carousel-controls > li > button {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
}
#carousel-images {
    border: 2px solid green;
    height: calc(3rem * 16);
    width: calc(3.5rem * 16);
    border-radius: 0.5rem;
    position: relative;
    top: 2rem;
    left: 2rem;
}
#carousel-details {
    border: 2px solid green;
    height: calc(3rem * 16);
    width: calc(3rem * 16);
    border-radius: 100%;
    position: absolute;
    top: 2rem;
    right: 6rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
#carousel-details > H3 {
    position: absolute;
    top: 16rem;
}
#carousel-details > p {
    border: 2px solid green;
    height: calc(1.5rem * 16);
    width: calc(1.5rem * 16); 
    border-radius: 100%;
    text-align: center;
    align-content: center;
}
/* #containers > li > div {  */
/* border: 2px solid rgb(26, 10, 76); */
/* } */

/* Styling the navigation bar */
#nav-bar {
    border: 2px solid #666;
    background-color: #333;
    min-width: 100%;
    max-width: 100vw;
    height: 4.5rem;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* overflow: hidden; */
}
#logo {
    height: 3.6rem;
    width: 3.6rem;
    margin-right: 6.2rem;
}
#nav-bar-left, #nav-bar-right {
    display: flex;
    height: 100%;
    width: 50%;
    max-width: calc((100% - 32.5%) - 2rem);
    min-width: 32.5%;
    padding: 0 0.5rem 0 0.5rem;
    align-items: center;
    position: relative;
}
#nav-bar-left{
    background-color: cyan;
    justify-content: flex-start;
}
#nav-bar-right {
    background-color: magenta;
    justify-content: flex-end;
}
#nav-bar-left > ol{
    border: 1px solid deeppink;
    display: flex;
    min-width: 48rem;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    align-items: center;
}
#nav-bar-left > ol > li > a > button {
    border: 2px solid #111;
    background-color: #222;
    width: 10rem;
    height: 2.5rem;
    color: #fff;
    cursor: pointer;
}

#nav-bar-misc {
    border: 1px solid red;
    font-size: 2rem; 
    width: 7rem;
    display: flex;
    position: absolute;
    left: 1.5rem;
    display: flex;
    justify-content: space-between;
}

#nav-bar-misc > span > input {
    display: none;
}

#nav-bar-user-drop {
    border: 1px solid deepskyblue;
    display: flex;
}
#nav-bar-user-drop > span {
    border: 1px solid rebeccapurple;
    width: 16rem;
    height: 4rem;
    position: relative;
}
#nav-bar-user-drop > span > h3 {
    font-size: 1rem;
    border: 1px solid red;
    min-height: 1rem;
    position: absolute;
    top: -1rem;
    width: 100%;
}
#user-drop-options {
    border: 1px solid blue;
    height: 2.3rem;
    overflow: hidden;
    position: absolute;
    top: 0.7rem;
    width: 100%;
    list-style: none;
    padding-left: 0;
}
#nav-bar-user-drop > span > ul > li {
border: 2px solid #333;
background-color: #AAA;
height: 2rem;
}


 #pfp {
    height: 3.6rem;
    width: 3.6rem;
    border-radius: 100%;
    margin-left: 6.2rem;
}

/*product deatils page*/
#backgroundContainer {
    background-color: bisque;
    width: 80%;
    margin: 2%;
    padding: 2%;
}

#productImage {
    background-color: #010144;
    width: 33%;
    margin: -3% 2%; /*brings the container to almost the full height of the big container*/
}

#imageSize {
    background-color: aquamarine;
    height: 100%;
    width: 70%;
}

#productRating {
    background-color: #010144;
    width: 9rem;
    border-radius: 1rem;
    margin-left: 3rem;
    padding: 1rem;
    margin-top: 0.7rem;
}

.circle {
    background-color: red;
    float: left;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
    margin-top: -0.35rem;
}

#productDescription {
    float: left;
    width: 30rem;
    height: 13rem;
    background-color: rebeccapurple;
    margin-left: 17rem;
    margin-top: -15rem;
    padding: 1rem;
}

/* ------------------------------------- */
/* form styling */
input {
    margin: 1em;
    padding: 0.4rem;
}
#forgot-password {
    margin-left: 4rem;
}

#forgot-password > a {
    color: #010144;
    text-decoration: none;
}

#forgot-password > a:hover {
    text-decoration: underline;
    color: rgb(77, 77, 88);
}

#login-container {
    display: flex;
    background-color: #ccc;
}

#form-container {
    margin-top: 9rem;
    position: absolute;
    right: 15%;
}

#form-circle {
    height: 60rem;
    width: 60rem;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-75%, -75%);
}

#login-button {
    margin-left: 40px;
    padding: 4px;
    padding-left: 50px;
    padding-right: 50px;
}
