/* gallery styling */
#gallery-container {
margin: 0 auto;
padding: 2rem;
display: flex;
flex-flow: row wrap;
justify-content: center;
width: 80%;

}

.gallery-img {
    border: solid 2px var(--color-accent-4);
    padding: 1em;
    margin: 1em;
}
