/* form styling */
input {
    margin: 1em;
    padding: 0.4rem;
}

#have-account {
    text-align: left;
}

#have-account > a {
    color: #010144;
    text-decoration: none;
}

#have-account > a:hover {
    text-decoration: underline;
    color: rgb(77, 77, 88);
}

#forgot-password {
    margin-left: 4rem;
}

#forgot-password > a {
    color: #010144;
    text-decoration: none;
}

#forgot-password > a:hover {
    text-decoration: underline;
    color: rgb(77, 77, 88);
}

#login-container {
    display: flex;
    background-color: #ccc;
}

#form-container {
    margin-top: 2rem;
    position: absolute;
    right: 1%;
}

#sign-up-form-container {
    margin-top: 2rem;
    position: absolute;
    left: 25%;
    top: 50px;
}

#form-circle-left {
    height: 60rem;
    width: 60rem;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 20%;
    transform: translate(-75%, -75%);
}

#form-circle-right {
    height: 60rem;
    width: 60rem;
    background-color: #bbb;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    right: -30%;
    
}

#login-button {
    margin-left: 40px;
    padding: 4px;
    padding-left: 50px;
    padding-right: 50px;
}

#sign-up-button {
    margin-left: 40px;
    padding: 4px;
    padding-left: 50px;
    padding-right: 50px;
}
