#nav-bar {
    border: 2px solid var(--s5);
    background-color: var(--s4);
    max-width: 90vw;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    /* position: relative; */
    position: sticky;
    top:0;
    left: 50%;
    transform: translate(-5%,0);
    /* transform: translate(-50%,0); */
    border-bottom-left-radius: 6rem;
    border-bottom-right-radius: 6rem;
    z-index: 9999;
}
#logo {
    height: 3.25rem;
    width: 3.25rem;
    margin-right: 5rem;
    border: 2px solid var(--s0);
    border-radius: 100%;
    background-color: var(--s0-80);
}
#nav-bar-left, #nav-bar-right {
    display: flex;
    height: 100%;
    width: 50%;
    max-width: calc((100% - 32.5%) - 2rem);
    padding: 0 0.5rem 0 0.5rem;
    align-items: center;
    position: relative;
}
#nav-bar-left{
    padding-left: 9.2rem;
    justify-content: flex-start;
    width: calc((100% - 32.5%) - (10.5rem * 2));
}
#nav-bar-right {
    justify-content: flex-end;
    padding-right: 10.5rem;
}
#nav-bar-left > ol{
    display: flex;
    min-width: calc(100% - 8rem);
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    align-items: center;
}
#nav-bar-left > ol > li > a > button {
    border: 2px solid var(--s5);
    background-color: var(--s3);
    width: 10rem;
    height: 2.5rem;
    color: #fff;
    cursor: pointer;
}

#nav-bar-misc {
        font-size: 2rem; 
    width: 7rem;
    position: absolute;
    left: 1.5rem;
    display: flex;
    justify-content: space-between;
}
#nav-bar-misc > span > #search-label {
    cursor: pointer;
}

#nav-bar-misc > span > input {
    display: none;
}

#nav-bar-user-drop {
    display: flex;
}
#nav-bar-user-drop > span {
    width: 16rem;
    height: 4rem;
    position: relative;
}
#nav-bar-user-drop > span > h3 {
    font-size: 1rem;
    min-height: 1rem;
    position: absolute;
    top: -1rem;
    width: 100%;
}
#user-drop-options {
    height: 2.3rem;
    overflow: hidden;
    position: absolute;
    top: 0.7rem;
    width: 100%;
    list-style: none;
    padding-left: 0;
}
#nav-bar-user-drop > span > ul > li {
border: 2px solid #333;
background-color: #AAA;
height: 2rem;
}


 #pfp {
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 100%;
    margin-left: 6.2rem;
}
