/*product deatils page*/
#informationContainer {
    background-color: burlywood;
    /*margin-top: 15rem;*/
    display: flex;
    flex-flow: column nowrap;
    height: 22rem;
    width: 45rem;
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#productImage {
    background-color: rgb(255, 0, 149);
    position: relative;
    float: left;
    margin: 1rem 0rem 0.5rem 1rem;
    width: 13rem;
    height: 18rem;
    border-radius: 1rem;
    object-fit: cover;
}

#productInformationContainer {
    /*float: left;*/
    margin: 0rem 1rem 0.5rem 16rem;
    background-color: rgb(5, 70, 72);
    height: 13rem;
    text-align: left;
}

#productInformationContainer > h3 {
    font-size: 2rem;
}

#tagsContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: space-between;
    border: 2px solid hotpink;
    position: relative;
    max-width: 70%;
    margin: 0rem 0rem 2rem 0rem;
}

.itemTags {
    padding: 0.3rem 1rem 0.4rem 1rem;
    border-radius: 0.4rem;
    background-color: cadetblue;
    border-radius: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

#ratingContainer {
    display: flex;
    flex-flow: row nowrap;
    background-color: rgb(84, 253, 0);
    float: left;
    width: 10rem;
    height: 2rem;
    margin: 0rem 0rem 1rem 1rem;
    border-radius: 1rem;
}

.ratingCircle {
    background-color: rgb(217, 255, 0);
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    float: left;
    margin: 0.5rem;
}

#social {
    border: 2px solid rgb(225, 8, 8);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    float: left;
    width: 65%;
    height: 3rem;
    margin-left: 1rem;
    padding: 0rem;
}

.socialContainer {
    background-color: rgb(157, 0, 255);
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 0.5rem;
}

#ratingInfo {
    margin: -1.8rem 0rem 0rem 1rem;
}
