/* form styling */
input {
    margin: 1em;
    padding: 0.4rem;
}

#have-account {
    text-align: left;
}

#have-account > a {
    color: var(--color-accent-4);
    text-decoration: none;
}

#have-account > a:hover {
    text-decoration: underline;
    color: var(--color-accent-2);
}

#forgot-password {
    margin-left: 4rem;
}

#forgot-password > a {
    color: var(--color-accent-4);
    text-decoration: none;
}

#forgot-password > a:hover {
    text-decoration: underline;
    color: var(--color-accent-2);
}

#login-container {
    display: flex;
    color: var(--text-color-1);
}

#form-container {
    margin-top: 2rem;
    position: relative;
    right: 1%;
    
}

#sign-up-form-container {
    margin-top: 2rem;
    position: absolute;
    left: 25%;
    top: 50px;
}

#form-circle-left {
    height: 60rem;
    width: 60rem;
    background-color: var(--background-primary);
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(-50%, 0);
    z-index: 99;
}

#form-circle-right {
    height: 60rem;
    width: 60rem;
    background-color: var(--background-primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0rem;
    transform: translate(50%, -50%);
    
}

#login-button {
    margin-left: 40px;
    padding: 4px;
    padding-left: 50px;
    padding-right: 50px;
}

#sign-up-button {
    margin-left: 40px;
    padding: 4px;
    padding-left: 50px;
    padding-right: 50px;
}

.login, .signup {
    background-color: var(--background-primary) !important;
    min-height: 100vh !important;
    min-width: calc(100% - 5px) !important;
}